html {
  font-family: "Orbitron", sans-serif;
  background-color: black !important;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue !important;
}
body {
  font-family: "Orbitron", sans-serif;
  /*background-color: #00004d !important;*/
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, #00004d 100%) !important;
  margin: 10px !important;
  border: 3px solid #0000ff;
  border-radius: 25px;
  width: 780px;
  /*height: 580px;*/
  /* width: 834px; */
  height: 460px;
  color: white;
  box-shadow: inset 0 0 10px #0000ff !important;
}

a {
  background: red;
}
.menu-container {
  /*max-width: 746px;*/
  max-width: 800px;
  margin-left: 13px;
  margin-right: 13px;
  border-bottom: 3px solid ‎#0000FF;
}
.menu-row {
  border-bottom: 3px solid #0000ff;
}
.btn-active {
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}
.menu-row .col {
  display: flex;
  flex-direction: column;
}
.container-fluid {
  bottom: 16px;
  position: absolute;
  /*width: 774px;*/
  width: 828px;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.footer-row {
  border-top: 3px solid #0000ff;
  height: 40px;
  align-items: center;
}
.btn-main {
  background-color: transparent;
  border: 0px solid;
  border-radius: 0px;
  border-right: 3px solid #0000ff;
  flex-grow: 1;
  height: 55px;
  padding-top: 15px;
}
.btn-last {
  border: 0px solid;
  background-color: transparent;
  border-radius: 0px 25px 0px 0px;
  flex-grow: 1;
  height: 55px;
  padding-top: 15px;
}
.btn-first {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 3px solid #0000ff;
  background-color: transparent;
  border-radius: 25px 0px 0px 0px;
  flex-grow: 1;
  height: 55px;
  padding-top: 15px;
}

.img-mars {
  width: 240px;
  padding: 2em;
}

.biometrics-page {
  height: 509px;
  display: flex;
  justify-content: space-around;
}
.img-bio {
  margin: 20px 50px;
}

.atmospheric-page {
  height: 300px;
  display: grid;
  grid-template-columns: 34% 32% 34%;
  grid-template-rows: 10% 30% 30% 30%;
  grid-gap: 1px 1px;
  grid-template-areas: "Name Name Name" "Stats Image Stats-rigth" "Stats Image Stats-rigth" "Stats Image Composition";
}

.Name {
  text-align: center;
  grid-area: Name;
}

.Image {
  grid-area: Image;
  text-align: center;
}

.Radiacion {
  grid-area: Radiacion;
}

.stats {
  grid-area: Stats;
  margin: 20px;
}

.stats > div > * {
  padding: 10px;
  margin: 10px 0;
}

.stats-rigth {
  grid-area: Stats-rigth;
  margin: 20px;
}

.stats-rigth > div > * {
  padding: 10px;
  margin: 10px 0;
}

.Composition {
  grid-area: Composition;
}

.composition {
  grid-area: Composition;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Sidebar-1 {
  grid-area: Sidebar-1;
}
.Sidebar-2 {
  grid-area: Sidebar-2;
}
.Sidebar-3 {
  grid-area: Sidebar-3;
}

.navigation-main {
  /*background-image: url("../src/assets/img/map.jpg");*/
  width: 774px;
  height: 354px;
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.leaflet-container {
    background:  rgb(0, 0, 0, 0.5);
}

.brujula {
  position: absolute;
    top: 104px;
    z-index: 1000;
    right: 46px;
}
.brujula img {
    max-width: 70px;
}

.call {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 10px;
}

.call-circle {
  width: 96px;
  border: solid 3px silver;
  height: 96px;
  border-radius: 2em;
  z-index: 1000;
  background: #00004d;
  margin-left: 20px;
  /* background-image: url("../src/assets/img/mars-base.jpg"); */
  background-size: cover;
}

.call-name {
  border: solid 2px silver;
  width: 600px;
  margin-right: 10em;
  position: absolute;
  padding-left: 150px;
  font-size: 2em;
  z-index: 900;
  cursor: pointer;
}

.call-name:active {
  background: silver;
  color: #00004d;
}

.call-name-active {
  background: silver;
  color: #00004d;
}

.video-call {
  margin-top: 20px;
  height: 320px;
  width: 800px;
}

.cancel-call {
  color: red;
  position: absolute;
  left: 400px;
  bottom: 80px;
  cursor: pointer;
}

.logo-image {
  width: 500px;
  margin-left: 140px;
}
